html {
    font-family: Roboto;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0px;
}

body {
    margin: 0px;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-image: url("../assets/foto_usp.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    max-height: 100px;
    background-color: #00000026;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main{
    height: 100%;
    display: flex;
    padding: 2em 16em;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem auto;
    background-color: #00000087;
    color: white;
    text-decoration: none;
}

footer a {
    color: white;
    color: rgb(11, 248, 209);
}

section{
    size: 80%;
    padding: 5%;
    border-radius: 20px;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

nav a {
    font-weight: 400;
    padding: 0.5em 1em;
    margin: 0.5em;
    color: white;
    font-size: 2em;
    text-decoration: none;
}
nav a:hover {
    background: rgba(255, 255, 255, 0.897);
    color: rgb(126, 126, 126);
    border-radius: 8px;
}

select {
    height: 30px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    background-color: #e9e9e9;
}
option {
    font-size: smaller;
}

input {
    height: 30px;
    width: 40vw;
    border: none;
    border-radius: 20px;
    background-color: #e9e9e9;
}

.row {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.title {
    width: 100%;
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2rem;
    align-items: center;
}

.option-container {
    margin: 15px;
}

.option-name{
    font-weight: bold;
    font-size: 20px;
}

.materias-div{
    width: 100%;
}

.output-div{
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
}

#marcacao-materia {
    width: 100%;
    min-height: 20px;
    height: fit-content;
    max-height: 150px;
    background-color: #fff;
    transition: 0.5s;
    margin: 0px;
    padding: 15px;
    border-bottom: #AFAFAF solid 0.8px;
    overflow-y: auto;
}

#marcacao-materia:hover {
    background-color: #CECECE;
}

.output-div button {
    width: 100px;
    margin-left: 20px;
}

#logo{
    width: 9rem;
    margin: 0em 2em;
}

footer h2 {
    font-weight: 400;
}

footer a img {
    width: 4rem;
}

#github{
    align-items: center;
}

#github img {
    margin: 1em;
}

#codelab, #github{
    display: flex;
    flex-direction: row;
}

.info{
    font-weight: bold;
}